.header__inner_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.header__info {
  height: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.information {
  display: flex;
  justify-content: center;
  color: rgba(0, 255, 255, 0.411);
}

.information__details {
  display: flex;
  justify-content: center;
  color: rgba(0, 255, 255, 0.411);
}

.popup__input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.input {
  margin-bottom: 30px;
  height: 70px;
  width: 100%;
  border-radius: 15px;
  padding-left: 16px;
  background-color: rgba(0, 255, 255, 0.185);
}

.placeholder {
  font-size: 15px;
}

.header__inner_info {
  width: 100%;
  height: 116%;
  background-image: url(./6ouPTaZMGGaqDSjjHLrggN4ssN_VaVLEWanqGZbxzqpC3FP31Oe8rIW6-rrGV5hKZ6LlIoWZLpndOs_C_-G12NZj.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 15px;
}
